.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: black; /* Asegúrate de que el texto sea visible sobre la imagen de fondo */
  text-align: center;
}
body {
  background-image: url('/assets/sabri-tuzcu-wunVFNvqhfE-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
