<div class="side">
  <ul nz-menu nzMode="horizontal">
    <li nz-menu-item
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
    >
      Home
    </li>
    <li nz-menu-item
      routerLink="/about"
      routerLinkActive="active"

    >
      Sobre mí
    </li >
    <li nz-menu-item
      routerLink="/projects"
      routerLinkActive="active"

    >
      Proyectos
    </li>
    <li nz-menu-item
      routerLink="/skills"
      routerLinkActive="active"

    >
      Habilidades
    </li>
    <li nz-menu-item
      routerLink="/contact"
      routerLinkActive="active"

    >
      Contacto
    </li>
  </ul>
</div>
